body {
  font-family: sans-serif;
  background-color: #4c4c4c;
  background-image: -moz-linear-gradient(top, #4c4c4c 0%, #131313 100%);
  background-image: -webkit-linear-gradient(top, #4c4c4c 0%,#131313 100%);
  background-image: linear-gradient(to bottom, #4c4c4c 0%,#131313 100%);
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

#app {
  position: relative;
  border-radius: 3px;
  max-width: 600px;
  margin: 20px auto;
  min-height: 100%;
  background: white;
}

#content {
  padding: 10px 15px;
  font-size: 14px;
}

#menu-bar {
  display: flex;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 0 15px 0 15px;
  line-height: 57px;
  background-color: #2b2b2b;
  color: #b1b3be;
  font-size: 16px;
}

#menu {
  background-color: #2b2b2b;
  position: absolute;
  border-top: 1px solid #232020;
  right: 0px;
  color: #b1b3be;
  font-size: 14px;
  cursor: pointer;
  z-index: 15; /* Over close-div */
}

.menu-button {
  line-height: 1;
}

.menu-button i {
  margin-top: 15px;
  cursor: pointer;
  position: relative;
  z-index: 15; /* Over close-div */
}

.menu-button i:hover {
  color: #74757b;
}

.menu-entry {
  padding: 10px;
}

.menu-entry:hover {
  -webkit-box-shadow: inset 1px 2px 10px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 1px 2px 10px 1px rgba(0,0,0,0.3);
  box-shadow: inset 1px 2px 10px 1px rgba(0,0,0,0.3);
}

.close-div {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.title {
  flex-grow: 1;
}

.page-title {
  padding: 0px 10px 10px 10px;
  font-size: 20px;
  text-align: center;
}

.button {
  -webkit-box-shadow: 0px 10px 14px -7px #1e1f1d;
	box-shadow: 0px 10px 14px -7px #1e1f1d;
	background:-moz-linear-gradient(top, #4d4d4d 5%, #080d06 100%);
	background:-webkit-linear-gradient(top, #4d4d4d 5%, #080d06 100%);
	background:-o-linear-gradient(top, #4d4d4d 5%, #080d06 100%);
	background:-ms-linear-gradient(top, #4d4d4d 5%, #080d06 100%);
	background:linear-gradient(to bottom, #4d4d4d 5%, #080d06 100%);
	background-color:#4d4d4d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1f1f1e;
}

.button:hover {
	background:-moz-linear-gradient(top, #080d06 5%, #4d4d4d 100%);
	background:-webkit-linear-gradient(top, #080d06 5%, #4d4d4d 100%);
	background:-o-linear-gradient(top, #080d06 5%, #4d4d4d 100%);
	background:-ms-linear-gradient(top, #080d06 5%, #4d4d4d 100%);
	background:linear-gradient(to bottom, #080d06 5%, #4d4d4d 100%);
	background-color:#080d06;
}

.button:active {
	position:relative;
	top:1px;
}

.block {
  position: relative;
  padding: 15px;
  -webkit-box-shadow: inset 2px 3px 24px -9px rgba(0,0,0,1);
  -moz-box-shadow: inset 2px 3px 24px -9px rgba(0,0,0,1);
  box-shadow: inset 2px 3px 24px -9px rgba(0,0,0,1);
}

.block-wrapper {
  padding: 10px;
}

.align-right {
  display: flex;
  flex-direction: row-reverse;
}

.wallet-remove-button {
  position: absolute;
  top: 4px;
  right: 4px;
  border-radius: 60px;
  background-color: #ff3e3e;
  opacity: 0.5;
  font-size: 1px;
  cursor: pointer;
}

.wallet-remove-button:hover {
  opacity: 1;
}

.wallet-remove-button i {
  font-size: 16px
}

.clipboard-button {
  margin-left: 5px; 
  padding: 0px;
}

.clipboard-button i {
  font-size: 14px;
}
