TESTNET=true
MONGO_URL="mongodb://doichain-testnet:doichain-testnet@mongo:27017/doichain-testnet"
DAPP_HOST='13.235.135.177'
DAPP_PORT=3000
HTTP_PORT=3000
DAPP_DOI_URL='http://localhost:3000/api/v1/debug/mail'
DAPP_SSL=false
DAPP_DEBUG=true
DAPP_CONFIRM=true
DAPP_SEND=true
DAPP_VERIFY=true
DEFAULT_FROM='reply@your-domain.com'
DAPP_SMTP_HOST=localhost
DAPP_SMTP_USER=doichain
DAPP_SMTP_PASS='doichain-mail-pw!'
DAPP_SMTP_PORT=25
RPC_USER=admin
RPC_PORT=8339
RPC_ALLOW_IP=127.0.0.1
RPC_PORT_TESTNET=18339
RPC_PORT_REGTEST=18332
RPC_PASSWORD=rpc-password
RPC_HOST=localhost
NODE_PORT=8338
REGTEST=false
TESTNET=true
NODE_PORT_TESTNET=18338
NODE_PORT_REGTEST=18445
CONFIRM_ADDRESS=''
CONNECTION_NODE='5.9.154.226'